{% extends "base.html.twig" %}

{% block title %}| Grille{% endblock %}

{% block h2 %}
    Grille
{% endblock %}

{% block container %}
    {{ parent() }}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ grille.id }}</td>
            </tr>
            <tr>
                <th>Grilledate</th>
                <td>{% if grille.grilleDate %}{{ grille.grilleDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grille_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('grille_edit', { 'id': grille.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
