<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}STREAMMI{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {#<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css') }}">#}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200i,300i,400,700') }}">
        {% block stylesheets %}{% endblock %}


        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    </head>
    <body>

        {% block body %}

            {% block nav %}

            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('index') }}"><span class="glyphicon glyphicon-th"></span> Grille</a></li>
                            <li><a href="{{ path('categories_index') }}"><span class="glyphicon glyphicon-tags"></span> Catégories</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% endblock %}


        <div class="container">
                {% block container %}
                {% endblock %}
        </div>


        <div class="container">
            {% block header %}
                <header>
                    <div class="logo"></div>
                    <div class="titres">
                        <h1 class="titre">STREAMMI<span class="titre_1">ADMIN</span></h1>
                        {#<h2 class="sous_titre">Grille des programmes</h2>#}
                    </div>
                </header>
            {% endblock %}

            {% block buttonNext %}

                <div class="boutons">
                    <a class="btn btn-default" role="button">Programme Semaine 1</a>
                    <a class="btn btn-default" role="button" id="semaine_suivante" href="semaine_suivante.html" >Semaine Suivante</a>
                </div>

            {% endblock %}

            <div class="table-responsive">
            {% block grille %}

            {% endblock %}
            </div>
        {% endblock %}
    </div>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
