{% extends "base.html.twig" %}

{% block title %}| Accueil{% endblock %}

{% block h2 %}
    Grille des programmes
{% endblock %}

{% block container %}
    {{ parent() }}

    <div class="boutons_semaines">
        <a class="btn btn-default" role="button">Programme Semaine 1</a>
        <a class="btn btn-default" role="button" id="semaine_suivante" href="#" >Semaine Suivante</a>
    </div>

    <div class="table-responsive">
        <table class="table grille_prog" >

            {% for grille in grilles %}
                <tr class="ligne">
                    <th class="horaires">{% if grille.grilleDate %}{{ grille.grilleDate|date('d/m/Y') }}{% endif %}</th>
                    {% for creneau in grille.creneau %}
                        {% if creneau.creneauProgramme|length>0 %}
                            <td class="en_cours">
                        {% else %}
                            <td class="vide">
                        {% endif %}
                        <p>
                            {% if creneau.creneauDbt %}{{ creneau.creneauDbt|date('H') }}h{{ creneau.creneauDbt|date('i') }}{% endif %}
                            -
                            {% if creneau.creneauFin %}{{ creneau.creneauFin|date('H') }}h{{ creneau.creneauFin|date('i') }}{% endif %}
                        </p>
                        <a href="{{ path('creneau_show', { 'id': creneau.id }) }}"></a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>

    <div class="creneau_statut">
        <div class="cases_statut">
            <div class="case_vide"></div>
            <p>Créneaux vide</p>
        </div>
        <div class="cases_statut">
            <div class="case_en_cours"></div>
            <p>Créneaux en cours</p>
        </div>
    </div>

    <div class="boutons_centre">
        <div class="centre">
            <a class="btn btn-default new-grille" href="{{ path('grille_new') }}">Creer une nouvelle grille</a>
            <a class="btn btn-default new-grille" href="{{ path('creneau_new') }}">Creer un nouveau créneau</a>
            {#<a class="btn btn-default new-grille" href="{{ path('programme_new') }}">Ajouter un programme</a>#}
        </div>
    </div>

{% endblock %}
