{% extends "base.html.twig" %}

{% block title %}| Creneau{% endblock %}

{% block h2 %}
    Edition Admin
{% endblock %}

{% block container %}
    {{ parent() }}

    <div class="carre_base">

        {{ form_start(edit_form) }}
        {% form_theme (edit_form) 'bootstrap_3_layout.html.twig' %}
        {{ form_widget(edit_form) }}
        <input class="marge_btn btn-default btn" type="submit" value="Editer" />
        {{ form_end(edit_form) }}


        {{ form_start(delete_form) }}
        <input class="marge_btn btn-default btn" type="submit" value="Supprimer" />
        {{ form_end(delete_form) }}

    </div>




{% endblock %}
