{% extends "base.html.twig" %}

{% block title %}| Super admin{% endblock %}

{% block h2 %}
    Super admin
{% endblock %}

{% block container %}
    {{ parent() }}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('admin_edit', { 'id': admin.id }) }}">Editer</a>

            {{ form_start(delete_form) }}
                <input class="marge_btn btn-default btn" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}


{% endblock %}
