{% extends "base.html.twig" %}

{% block title %}| Programme{% endblock %}

{% block h2 %}
    Programme
{% endblock %}

{% block container %}
    {{ parent() }}

    <div class="container contain-n-creneau">
        <div class="new-creneau carre_base">
        <h1>Modifier un programme</h1>
            <div class="formu">
        {{ form_start(edit_form) }}
                {% form_theme(edit_form) 'bootstrap_3_layout.html.twig' %}
            {{ form_widget(edit_form) }}

                {#ajout#}

                <label for="creneau"> Créneau</label>
                <select name="creneau">
                    {% for cre in creneaux %}
                        Créneau : <option value="{{ cre.id }}">{{ cre.creneauDbt|date('H:i') }}</option>
                    {% endfor %}
                </select><br><br>
                {#fin ajout#}

            <input type="submit" value="Valider" />
        {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
