{% extends 'base.html.twig' %}

{% block body %}

    {% block nav %}
        {{ parent() }}
    {% endblock %}

    <div class="container contain-n-creneau">
        <div class="new-creneau carre_base">
        <h1>Programme</h1>

            <hr>

            <p>Titre : {{ programme.progTitre }}</p>
            <p>Durée : {% if programme.progDuree %}{{ programme.progDuree|date('H:i') }}{% endif %}</p>
            <p>Lien : {{ programme.progUrl }}</p>
            <p>Miniature : {{ programme.progMinia }}</p>

            <hr>

        <a class="btn btn-default" href="{{ path('index') }}">Revenir à la grille</a>

        <a  class="btn btn-default" href="{{ path('programme_edit', { 'id': programme.id }) }}">Modifier le programme</a>

        {{ form_start(delete_form) }}
        <input type="submit" id="submit_grey" value="Supprimer">
        {{ form_end(delete_form) }}

        </div>
    </div>


{% endblock %}
