{% extends "base.html.twig" %}

{% block title %}| Categories{% endblock %}

{% block h2 %}
    Edition d'une categories
{% endblock %}

{% block container %}
    {{ parent() }}

    <div class="container contain-n-creneau">
        <div class="new-creneau carre_base">
        <h1>Modifier une categorie</h1>
            <div class="formu">
            {{ form_start(edit_form) }}
                    {% form_theme (edit_form) 'bootstrap_3_layout.html.twig' %}
                {{ form_widget(edit_form) }}
                <input class="btn btn-default marge_btn" type="submit" value="Valider" />
            {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                    <input class="btn btn-default marge_btn" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}

                <a class="btn btn-default marge_btn" href="{{ path('categories_index') }}">Revenir aux categories</a>
            </div>
        </div>
    </div>
{% endblock %}
