{% extends 'base.html.twig' %}

{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}



    <div class="container">

        <header class="container">
            <div class="logo"></div>
            <div class="titres">
                <h1 class="titre">STREAMMI<span class="titre_1">ADMIN</span></h1>
                <h2 class="sous_titre">Liste des catégories</h2>
            </div>
        </header>

        <div class="carre_base"><br>

        <table class="catego_tab ">
            <thead>
                <tr>
                    <th class="horaires">Libellé</th>
                    <th class="horaires">Video</th>
                    <th class="horaires">Synthé</th>
                    <th class="horaires">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.cateLibelle }}</td>
                    <td>{{ category.cateVideo }}</td>
                    <td>{{ category.cateSynthe }}</td>
                    <td>
                       <a href="{{ path('categories_show', { 'id': category.id }) }}">Voir</a><br>
                       <a href="{{ path('categories_edit', { 'id': category.id }) }}">Editer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-default new-grille" href="{{ path('categories_new') }}">Créer une nouvelle catégorie</a>
        </div>
    </div>
{% endblock %}
