{% extends "base.html.twig" %}

{% block title %}| Categories{% endblock %}

{% block h2 %}
    Categories
{% endblock %}

{% block container %}
    {{ parent() }}

        <div class="carre_base col-md-12"><br>

        <table class="catego_tab ">
            <thead>
                <tr>
                    <th class="horaires">Libellé</th>
                    <th class="horaires">Video</th>
                    <th class="horaires">Synthé</th>
                    <th class="horaires">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.cateLibelle }}</td>
                    <td><iframe width="560" height="315" src="{{ category.cateVideo }}" frameborder="0" allowfullscreen></iframe></td>
                    <td class="col_synthe_catego"><div class="synthe_catego" style="background-color: rgb({{ category.cateSynthe }});"></div></td>
                    <td>
                       <a href="{{ path('categories_show', { 'id': category.id }) }}">Voir</a><br>
                       <a href="{{ path('categories_edit', { 'id': category.id }) }}">Editer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-default new_catego" href="{{ path('categories_new') }}">Créer une nouvelle catégorie</a>
        </div>

{% endblock %}
