{% extends "base.html.twig" %}

{% block title %}| Categories{% endblock %}

{% block h2 %}
    Categories
{% endblock %}

{% block container %}
    {{ parent() }}

    <div class="contain-n-creneau col-md-12">
        <div class="new-creneau carre_base">

            <table class="catego_tab prog_catego_tab bb_tab">
                <thead>
                    <tr>
                        <th class="horaires">Libellé</th>
                        <th class="horaires">Video</th>
                        <th class="horaires">Synthé</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ category.cateLibelle }}</td>
                        <td><iframe width="560" height="315" src="{{ category.cateVideo }}" frameborder="0" allowfullscreen></iframe></td>
                        <td class="col_synthe_catego"><div class="synthe_catego" style="background-color: rgb({{ category.cateSynthe }});"></div></td>
                    </tr>
                </tbody>
            </table>
                <br>
        </div>
    </div>

    <div class="col-md-12 prog_catego">

        {% if category.programme|length>0 %}

            <h2>Programmes associés à la catégorie</h2>


            <ul>
                {% for programme in category.programme %}<li>{{ programme.progTitre }} | <a href="{{ path('programme_show', { 'id': programme.id }) }}">Voir</a> | <a href="{{ path('programme_edit', { 'id': programme.id }) }}">Modifier</a></li>  {% endfor %}
            </ul>

            {#{dump(categorie)}#}

        {% else %}

            {{ form_start(delete_form) }}
            <input class="btn-default btn marge_btn" type="submit" id="submit_grey" value="Supprimer">
            {{ form_end(delete_form) }}<br>

        {% endif %}

    </div>

{% endblock %}
